<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Parametri Corporate Site</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
</head>

<body>
  <div class="banner">
    <div class="navbar">
      <ul>
          <li><a href="#">Nuovo template</a></li>
          <li><a href="#">I tuoi templates</a></li>
          <li><a href="#">Link 3</a></li>
      </ul>
      
  </div>

  <div class="logout">
      <button type="button"><span></span>LOGOUT</button>
  </div>
    <div class="content">
      <h1>Corporate Site</h1>
      <form id="company-form" action="/genera_corporate_site" method="POST">
        <p>Inserisci i seguenti parametri:</p>
        <input type="text" id="company-name" name="companyName" placeholder="Nome Azienda" required>
        <input type="text" id="address" name="address" placeholder="Indirizzo" required>
        <input type="email" id="email" name="email" placeholder="Email" required> <br>
        <input type="tel" id="phone" name="phone" placeholder="Telefono" required>
        <input type="number" id="service-count" name="serviceCount" min="1" max="5" placeholder="Numero di servizi offerti" required><br>
        <button type="submit">Genera Sito<span></span></button>
      </form>
    </div>
  </div>
</body>

</html>
