<!DOCTYPE html>
<html>
<head>
  <title>Form Categorie</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleform.css') }}">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <ul>
              <li><a href="/templ">Nuovo template</a></li>
              <li><a href="/myApp">I tuoi templates</a></li>
              <li><a href="#">Link 3</a></li>
            </ul>
        </div>

        <div class="logout">
            <button type="button"><span></span>LOGOUT</button>
        </div>
    <div class="content">
        <h1>E-commerce</h1>
        <p>Seleziona le categorie e, per ognuna di esse, il numero di prodotti da generare</p>
    <form action="/genera_ecommerce" method="POST" id="generaEcommerceForm" onsubmit="return validateForm()">
        <div>
      <label class="checkbox-container" for="cucina">Cucina
        <input type="checkbox" id="cucina" name="categoria[]" value="cucina" onchange="toggleInput(this)">
        <span class="checkmark"></span>
      </label>
      <input type="number" id="cucina-input" name="numeroProdotti[]" min="0" max="10" placeholder="numero di prodotti" disabled><br>
    </div>
    <div>
      <label class="checkbox-container" for="elettronica">Elettronica
        <input type="checkbox" id="elettronica" name="categoria[]" value="elettronica" onchange="toggleInput(this)">
        <span class="checkmark"></span>
      </label>
      <input type="number" id="elettronica-input" name="numeroProdotti[]" min="0" max="10" placeholder="numero di prodotti" disabled><br>
    </div>
    <div>
      <label class="checkbox-container" for="abbigliamento">Abbigliamento
        <input type="checkbox" id="abbigliamento" name="categoria[]" value="abbigliamento" onchange="toggleInput(this)">
        <span class="checkmark"></span>
      </label>
      <input type="number" id="abbigliamento-input" name="numeroProdotti[]" min="0" max="10" placeholder="numero di prodotti" disabled><br>
    </div>
      <button type="submit" value="Invia">Genera Sito<span></span></button>
    </form>
    </div>
  
    <script>
      function toggleInput(checkbox) {
        const inputField = document.getElementById(`${checkbox.value}-input`);
        inputField.disabled = !checkbox.checked;
      }

      function validateForm() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"][name="categoria[]"]');
        let isValid = false;
        checkboxes.forEach((checkbox) => {
          if (checkbox.checked) {
            isValid = true;
          }
        });
        if (!isValid) {
          alert("Seleziona almeno una categoria.");
        }
        return isValid;
      }
    </script>
</body>
</html>
