/* Reset CSS to reset default margins and paddings */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the header */
  header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    max-width: 150px;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu li a:hover {
    color: #555;
  }
  
  /* Style for the banner */
  .banner {
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: #fff;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .banner .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .banner .btn:hover {
    background-color: #555;
  }
  
    
    /* Stile per la sezione dei prodotti */
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 40px 0;
    }
    
    .product {
      width: 30%;
      background-color: #ffffff;
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
    
    .product:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .product img {
      width: 100%;
      height: auto;
      object-fit: contain;
      max-height: 150px;
      margin-bottom: 10px;
    }
    
    .product h3 {
      margin-top: 0;
    }
    
    .product p {
      margin-bottom: 10px;
    }
    
    .product button {
      background-color: #4c93af;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .product button:hover {
      background-color: #45a049;
    }
    
    /* Stile per il footer */
    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
    }
    
    .footer-section {
      margin-bottom: 20px;
    }
    
    .footer-section h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    .footer-section ul li {
      margin-bottom: 5px;
    }
    
    .footer-section ul li a {
      color: #fff;
      text-decoration: none;
    }
    